// PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
.gm-table-select-popup {
  .gm-list.gm-list-group {
    .gm-list-label {
      background: @gm-table-bg-accent;
      color: @gm-color-first;
    }

    .gm-list-item {
      padding: 8px 10px 5px 10px;
    }
  }
}
