@media (max-width: 768px) {
  .gm-framework {
    &-left {
      &-default {
        width: 0 !important;

        &-inner {
          left: -110%;
        }
      }
    }

    &-right-top {
      &-default {
        &-inner {
          left: 0 !important;

          // PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
          .gm-framework-right-top-default-mobile-nav {
            display: block;
          }
        }
      }
    }

    &.gm-framework-mobile-menu {
      .gm-framework-left-default-inner {
        left: 0;
        width: 100vw !important;
      }
    }

    // PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
    .gm-framework-full-tabs {
      .gm-framework-full-tabs-list {
        left: 0 !important;
      }
    }
  }
}
