// PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
.gm-transfer {
  height: auto;
  .gm-transfer-box {
    // PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
    .gm-transfer-box-filter {
      position: relative;
      i {
        position: absolute;
        left: 7px;
        top: 10px;
        z-index: 2;
      }

      input {
        padding-left: 26px;
        border-top: none;
        border-right: none;
        border-left: none;
        box-shadow: none;
      }
    }

    // PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
    .gm-transfer-box-list {
      .gm-checkbox-group {
        label {
          padding: 3px 6px;

          &:hover {
            background: #f5f5f5;
          }
        }
      }
    }
  }
}
