.gm-box-shadow-none {
  box-shadow: none !important;
}

// PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
.gm-box-shadow-bottom {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}

.gm-box-shadow-top {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2) !important;
}
