.gm-img-uploader {
  display: inline-block;

  // PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
  .gm-img-uploader-item {
    position: relative;
    margin-right: 10px;

    // PUBLIC: 公共组件名，组件库其他地方有使用到，如果需要修改此类名，需慎重，必须经过人为审核
    .gm-img-uploader-close {
      position: absolute;
      cursor: pointer;
      display: none;
      right: -0.5em;
      top: -0.5em;
    }

    &:hover {
      .gm-img-uploader-close {
        display: block;
      }
    }
  }
}
